@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #d0e7f9, #9fdcfa, #87cefa, #4682b4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

button {
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

select, input {
  transition: all 0.3s ease;
}

select:focus, input:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 2 2 8px rgba(8, 27, 49, 0.5);
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: #000000 ;
}
